[package]
name = "libhoney-rust"
version = "0.1.3"
authors = ["Norberto Lopes <nlopes.ml@gmail.com>"]
edition = "2018"
description = "Rust library for sending data to Honeycomb"
documentation = "https://docs.rs/libhoney-rust"
repository = "https://github.com/nlopes/libhoney-rust.git"
license = "MIT"
readme = "README.md"
keywords = ["web", "honeycomb", "api"]
categories = ["network-programming", "asynchronous", "api-bindings", "web-programming"]
exclude = [".gitignore", ".travis.yml"]

[lib]
name = "libhoney"
path = "src/lib.rs"

[badges]
travis-ci = { repository = "nlopes/libhoney-rust", branch = "master" }

[dependencies]
chrono = { version = "0.4", features = ["serde"] }
crossbeam-channel = "0.4.0"
futures = "0.1.29"
log = "0.4.8"
parking_lot = "0.10.0"
rand = "0.7.3"
reqwest = "0.10.1"
serde = "1.0.104"
serde_json = "1.0.46"
tokio = "0.1"
tokio-timer = "0.2"

[dev-dependencies]
env_logger = "0.7.1"
mockito = "0.23.1"
